body{
  margin: 0;
  padding: 0;
  background-color: seashell;
}

#main_header{
  text-align: center;
  text-decoration: underline;
}
/* instruction paragraphs */
#instructions{
  border: 2px solid black;
  color: black;
  width: 35%;

} 


#start_button{
  background-color: red;
  border-radius: 50%;
}

/* CSS for class for user choice buttons */
.choice_button{

  border: none;
  border-radius: 50%;
  text-align: center;
  padding: 20px;
  background-color: white;
  display: inline-block;
  font-size: 16px;  
  height: 100px;
  border: 1px solid black

}
/* Button ID specific CSS */
#rock_btn:hover{
  
  color: transparent;
  background-image: url(../frontend/assets/rock.png);
  background-size: contain;
  background-repeat: no-repeat;
  
}

#paper_btn:hover{
  
  color: transparent;
  background-image: url(../frontend/assets/paper.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#scissors_btn:hover{
  
  color: transparent;
  background-image: url(../frontend/assets/scissors.png);
  background-size: contain;
  background-repeat: no-repeat;
}


/*EVERYTHING BELOW THIS LINE WILL BE FOR THE SELECTION AREA AND ITS ASSETS*/


#selection{
background-color: white;  
}

